@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html{
    position: relative;
    min-height: 100%;
}

main{margin-bottom: 250px;}

footer.footer{
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;

}

p{
    font-family: $font-family-serif;
    font-size: 18px;
}

.hero-scene{
    position: relative;

    &::before{
        content:"";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(../images/lasagna-5994612_1280.jpg);
      background-size: cover;
    filter: brightness(0.5);
    }

    *{
        position: relative; //Positionner les Elements avant le ::before
    }

    .hero-scene-content{
        height: 220px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}